.config/qutebrowser
!.config/qutebrowser/config.py
!.config/qutebrowser/search.py

.config/zsh/.zcompdump
.config/zsh/.zsh_history

.config/fcitx/*
!.config/fcitx/config
!.config/fcitx/profile
!.config/fcitx/conf

.emacs.d/*
!.emacs.d/config.org
!.emacs.d/logo.svg
!.emacs.d/snippets
!.emacs.d/.projectile

.ghc/ghc_history

.mpd/*.pid
.mpd/*.db
.mpd/mpdstate*

.ncmpcpp/error.log

.newsboat
!.newsboat/config

.xmonad/*.hi
.xmonad/*.o
