
# Ignore everything
*

# Sincde it's not possible to re-include a file if a
# parent directory of that file is excluded, we need to
# reinclude all directories.
!/**/

# Root level exceptions
!/**/default.nix
!.gitignore
!update.sh
!README.md

# Other exceptions
!ssh/hosts/pvv.nix
